<div
  class="flex flex-wrap justify-content-center gap-3"
  *ngFor="let workout of myMeasuresAndWorkouts"
>
  <p-card
    header="{{ workout.workoutName }}"
    subheader="{{ workout.note }}"
    class="p-card w-full md:w-8 lg:w-3"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/images/pesos.jpg" />
    </ng-template>

    <p>Exercício: {{ workout.exercise }}</p>
    <p>Descrição: {{ workout.description }}</p>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button label="Cancel" severity="secondary" class="w-full"></p-button>
        <p-button label="Save" class="w-full"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
