<div class="flex flex-wrap justify-center gap-4 w-full">
  <div *ngIf="myMeasuresAndWorkouts.length === 0">
    <h1>NÃO HÁ TREINOS REGISTRADOS PARA VOCÊ</h1>
  </div>
  <div
    *ngFor="let workout of myMeasuresAndWorkouts"
    class="w-full sm:w-6 md:w-4 lg:w-2 xl:w-1/5 flex"
  >
    <p-card
      header="{{ workout.workoutName }}"
      subheader="{{ workout.note }}"
      class="p-card h-full"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/pesos.jpg" />
      </ng-template>

      <p>Exercício: {{ workout.exercise }}</p>
      <p>Criado em: {{ workout.createdAt }}</p>
      <p>Descrição: {{ workout.description }}</p>

      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            label="Editar"
            severity="secondary"
            class="w-full"
            [routerLink]="['/workout/update', workout.id]"
          ></p-button>
          <p-button label="Excluir" class="w-full"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
