<app-toolbar-navigation></app-toolbar-navigation>
<div class="flex flex-wrap justify-center gap-4 w-full">
  <div *ngIf="myMeasures.length === 0">
    <h1>VOCÊ AINDA NÃO REGISTROU SUAS MEDIDAS</h1>
  </div>
  <div
    *ngFor="let measure of myMeasures"
    class="w-full sm:w-6 md:w-4 lg:w-2 xl:w-1/5 flex"
  >
    <p-card
      header="AQUI"
      subheader="Data: {{ measure.createdAt }}"
      class="p-card h-full"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/pesos.jpg" />
      </ng-template>

      <div class="p-3">
        <p><strong>Peso: </strong> {{ measure.weight }} kg</p>
        <p><strong>Quadril: </strong> {{ measure.hips }} cm</p>
        <p><strong>Bíceps Esquerdo: </strong> {{ measure.leftBiceps }} cm</p>
        <p><strong>Bíceps Direito: </strong> {{ measure.rightBiceps }} cm</p>
        <p>
          <strong>Quadríceps Esquerdo: </strong> {{ measure.leftQuadriceps }} cm
        </p>
        <p>
          <strong>Quadríceps Direito: </strong> {{ measure.rightQuadriceps }} cm
        </p>
        <p><strong>Panturrilha Esquerda:</strong> {{ measure.leftCalf }} cm</p>
        <p><strong>Panturrilha Direita:</strong> {{ measure.rightCalf }} cm</p>
        <p><strong>Data Anterior:</strong> {{ measure.previousDate }}</p>
      </div>

      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            styleClass="p-button-raised p-button-text p-button-secondary"
            label="Editar"
            severity="secondary"
            class="w-full"
            [routerLink]="['/measures/update', measure.id]"
          ></p-button>
          <p-button
            styleClass="p-button-raised p-button-text p-button-danger"
            label="Excluir"
            class="w-full"
            (click)="confirmDelete(measure.id)"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
